<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, link, content, script)"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" th:content="${_csrf.token}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="${title}"> </th:block>
    <!-- google -> 자바스크립트 yml 변수 -> Thymeleaf 에서 스프링 환경변수 사용하기 -> java.ihoney.pe.kr/472 -->
    <th:block th:replace="~{admin/layout/css :: css(~{::link})}"></th:block>
</head>
<body style="overflow-y: visible;">
<th:block th:replace="~{admin/layout/topbar :: topbar}"></th:block>
<th:block th:replace="~{admin/layout/sidebar :: sidebar}"></th:block>
<th:block th:replace="${content}"></th:block>
<th:block th:replace="~{admin/layout/scripts :: scripts(~{::script})}"></th:block>
<!--<th:block th:replace="~{admin/layout/footer :: footer}"></th:block>-->
</body>
</html>