<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layout/layout::layout( ~{::title}, ~{::link}, ~{::body}, ~{::script})}">
<title>공지사항</title>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.css" rel="stylesheet">
<body>
<div class="container-fluid">
  <div class="row">
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>공지사항 작성</h2>
      </div>

      <form th:object="${announce}" method="post" onsubmit="return checkValues(this);">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="mb-3">
          <label th:for="title" class="form-label">제목</label>
          <input type="text" class="form-control" th:field="*{title}" required>
        </div>

        <div class="mb-3">
          <label th:for="content" class="form-label">내용</label>
          <div id="summernote"></div>

        </div>
        <input type="hidden" th:field="*{content}">
        <button type="submit" class="btn btn-primary">작성 완료</button>
      </form>

    </main>
  </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.js"></script>
<script th:inline="javascript">
  const announce = /*[[${announce}]]*/null;
</script>
<script>
  $(function(){
    let content = announce.content;
    if(content) {
      $('#summernote').summernote('code', content);
    }

  });
  $('#summernote').summernote({
    // 에디터 크기 설정
    height: 800,
    // 에디터 한글 설정
    lang: 'ko-KR',
    // 에디터에 커서 이동 (input창의 autofocus라고 생각하시면 됩니다.)
    toolbar: [
      // 글자 크기 설정
      ['fontsize', ['fontsize']],
      // 글자 [굵게, 기울임, 밑줄, 취소 선, 지우기]
      ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
      // 글자색 설정
      ['color', ['color']],
      // 표 만들기
      ['table', ['table']],
      // 서식 [글머리 기호, 번호매기기, 문단정렬]
      ['para', ['ul', 'ol', 'paragraph']],
      // 줄간격 설정
      ['height', ['height']],
      // 이미지 첨부
      ['insert',['picture']]
    ],
    // 추가한 글꼴
    fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋음체','바탕체'],
    // 추가한 폰트사이즈
    fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72','96'],
    // focus는 작성 페이지 접속시 에디터에 커서를 위치하도록 하려면 설정해주세요.
    focus : true,
    // callbacks은 이미지 업로드 처리입니다.
    callbacks : {
      onImageUpload : function(files, editor, welEditable) {
        // 다중 이미지 처리를 위해 for문을 사용했습니다.
        for (var i = 0; i < files.length; i++) {
          imageUploader(files[i], this);
        }
      }
    }

  });
  function imageUploader(file, el) {
    var formData = new FormData();
    formData.append('file', file);

    $.ajax({
      data : formData,
      type : "POST",
      // url은 자신의 이미지 업로드 처리 컨트롤러 경로로 설정해주세요.
      url : '/api/v1/image-upload',
      contentType : false,
      processData : false,
      enctype : 'multipart/form-data',
      beforeSend: function(xhr) {
        // CSRF 토큰을 헤더에 추가
        var csrfToken = $('meta[name="csrf-token"]').attr('content');
        xhr.setRequestHeader('X-XSRF-TOKEN', csrfToken);
      },
      success : function(data) {
        // $(el).summernote('insertImage', "${pageContext.request.contextPath}/assets/images/upload/"+data, function($image) {
        //   $image.css('width', "100%");
        // });
        $(el).summernote('insertImage', data, function($image) {
          $image.css('width', "100%");
        });
        // 값이 잘 넘어오는지 콘솔 확인 해보셔도됩니다.
        console.log(data);
      }
    });
  }
  function checkValues(form){
    form.content.value = $('#summernote').summernote('code');
    form.content.textContent = $('#summernote').summernote('code');
    return true;

  }
</script>
</html>