<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{user/layout/layout::layout( ~{::title}, ~{::link}, ~{::body}, ~{::script}, ~{::meta})}">

<title>커리큘럼</title>
<body>
<div>커리큘럼 고1,2, 3-1 직전방학</div>
<div>8년 동안 집필한 개념서</div>
<div>보통의 개념서와 질적으로 다른 스스로 리뷰할 수 있는 명쾌한 설명</div>
<div>헛갈리게 만드는 문제로 완전한 이해</div>
<div>이해한 내용을 적용시키는 능력을 훈련</div>
<div>난이도별, 유형별로 자신의 두뇌를 제한시키지 않고 치밀한 문제 배치를 통해 어느새 고난도 문제를 풀고 있는 자신을 발견</div>
<div>사고체계에 따라 분류한 핵심 기출, 모의고사 그리고 반복 변형 문제</div>
<div>학기 돌입</div>
<div>1일 수학(개념반복) + 방학 오답 변형</div>
<div>시험 한달 전</div>
<div>모의 시험 및 오답 유형 분류 개인별 시험전략수립</div>
</body>
</html>