<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강의 리스트</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<th:block th:replace="~{user/layout/header::header('원장의 똥꼬쇼')}" th:remove="tag"></th:block>
<h1>Lecture List</h1>
<div>
    <div th:each="lecture : ${lectures}" class="lecture-card" >
        <a th:href="@{/templates/user/lecture/{id}(id=${lecture.id})}">
            <img class="lecture-image" th:src="${lecture.imgUrl}" alt="Lecture Image"/>
            <h3 th:text="${lecture.title}">Lecture Title</h3>
            <p th:text="${lecture.description}">Lecture Description</p>
        </a>
    </div>

    <div class="pagination">
            <span th:each="i : ${#numbers.sequence(0, lectures.totalPages -1)}">
                <a th:href="@{/lecture(page=${i})}" th:text="${i+1}"></a>
            </span>
    </div>
</div>

<th:block th:replace="~{user/layout/footer::footer}" th:remove="tag"></th:block>
</body>
</html>
