<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{user/layout/layout::layout( ~{::title}, ~{::link}, ~{::style}, ~{::body}, ~{::script}, ~{::meta})}">

<title>강의 리스트</title>
<body>
<div class="lecture-list-container">
    <img th:src="@{${lectureCover.imgUrl}}" alt="Lecture Image">
    <h1>강의 리스트</h1>
    <table class="lecture-table">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>런타임</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lecture, iter : ${lectures}">
            <td th:text="${iter.index + 1}">1</td>
            <td>
                <a th:href="@{'/lecture/' + ${lecture.id}}" th:text="${lecture.title}">강의 제목</a>
            </td>
            <td th:text="${lecture.runTime}">00:00</td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>
