<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{user/layout/layout::layout( ~{::title}, ~{::link}, ~{::body}, ~{::script})}">
<title>강의 리스트</title>
<body>
<div>
    <div th:each="lectureCover : ${lectureCovers}" class="lecture-card" >
        <a th:href="@{/lecture/info/{id}(id=${lectureCover.id})}">
            <img class="lecture-image" th:src="${lectureCover.imgUrl}" alt="Lecture Image"/>
            <h3 th:text="${lectureCover.title}">Lecture Title</h3>
            <p th:text="${lectureCover.description}">Lecture Description</p>
        </a>
    </div>

    <div class="pagination">
            <span th:each="i : ${#numbers.sequence(1, lectureCovers.totalPages)}">
                <a th:href="@{/lecture(page=${i})}" th:text="${i}"></a>
            </span>
    </div>
</div>
</body>

</html>
