<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{user/layout/layout::layout( ~{::title}, ~{::link}, ~{::body}, ~{::script}, ~{::meta})}">
<title>MATH ITSELF 인덱스 페이지</title>
<meta name="description" content="MATH ITSELF 인덱스 페이지의 소개와 강의, 공지사항을 확인하세요." />
<meta name="keywords" content="MATH ITSELF, 강의, 공지사항, 학생 후기, 인덱스 페이지" />
<body>
<div class="container">
  <div class="banner">
    <img th:src="@{/assets/img/park.png}" alt="배너 이미지">
  </div>
  <div class="section">
    <h2>추천 강의</h2>
    <p><a th:href="@{/lecture/info/1}" style="text-decoration: none; color:black;">고민이 있다면 이걸 보세요</a></p>
  </div>
  <div class="section">
    <h2>공지사항</h2>
    <p><a th:href="@{/service/announce}">중요한 소식을 확인하세요.</a></p>
  </div>
  <div class="section">
    <h2>학생 후기</h2>
    <p>학생들이 남긴 후기를 확인하고 직접 참여해보세요.</p>
  </div>
</div>
</body>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebPage",
    "name": "MATH ITSELF의 대문 페이지",
    "description": "MATH ITSELF",
    "url": "https://xn--bh3b89qjsa.xn--oi2b61z32a.xn--3e0b707e",
    "publisher": {
      "@type": "Organization",
      "name": "MATH ITSELF",
      "logo": {
        "@type": "ImageObject",
        "url": "https://xn--bh3b89qjsa.xn--oi2b61z32a.xn--3e0b707e/assets/img/MATH_ITSELF.jpeg"
      }
    }
  }
</script>
</html>