<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{user/layout/layout::layout( ~{::title}, ~{::link}, ~{::style}, ~{::body}, ~{::script}, ~{::meta})}">
<title>MATH ITSELF 인덱스 페이지</title>
<meta name="description" content="MATH ITSELF 인덱스 페이지의 소개와 강의, 공지사항을 확인하세요." />
<meta name="keywords" content="MATH ITSELF, 강의, 공지사항, 학생 후기, 인덱스 페이지" />

<body>
<div class="container">
    <!-- 카드 1 -->
    <div class="row">
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-image">
                    <img th:src="@{/storage/background1.jpg}" alt="Card Image" class="card-img-top">
                </div>
                <div class="card-body text-center">
                    <p>수학자를 꿈꾸었던 청년이</p>
                    <p>통찰하는 아름다운 수학</p>
                    <p>진리를 지도합니다.</p>
                </div>
            </div>
        </div>
        <!-- 교육 철학 -->
        <div class="col-12" style="    background-color: black;
    color: white;">
            <div class="col-12 text-center">
                교육 철학
            </div>
        </div>
        <!-- 카드 2 -->
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-image">
                    <img th:src="@{/storage/background2.jpg}" alt="Card Image" class="card-img-top">
                </div>
                <div class="card-body text-center">
                    <h3>개념의 역사</h3>
                    <p>암기식 유형학습이 아닌</p>
                    <p>개념의 탄생과 발전을</p>
                    <p>저달할 수 있는 유일한 강사</p>
                </div>
            </div>
        </div>

        <!-- 카드 3 -->
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-image">
                    <img th:src="@{/storage/background3.jpg}" alt="Card Image" class="card-img-top">
                </div>
                <div class="card-body text-center">
                    <h3>명확한 교육 목표</h3>
                    <p>개념의 철학을 기반으로</p>
                    <p>고등기초 교육과 수능이 요구하는</p>
                    <p>능력과 생각법을 훈련시킵니다.</p>
                </div>
            </div>
        </div>

        <!-- 카드 4 -->
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-image">
                    <img th:src="@{/storage/background4.jpg}" alt="Card Image" class="card-img-top">
                </div>
                <div class="card-body text-center">
                    <h3>4인 체제</h3>
                    <p>맞은 문제를 더 철저하게</p>
                    <p>확인해야 사고교정이 이뤄집니다.</p>
                    <p>품이 많이 드는 작업이기에</p>
                    <p>성향과 실력이 비슷한</p>
                    <p>4인 1반을 고집합니다.</p>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebPage",
    "name": "MATH ITSELF의 대문 페이지",
    "description": "MATH ITSELF",
    "url": "https://xn--bh3b89qjsa.xn--oi2b61z32a.xn--3e0b707e",
    "publisher": {
      "@type": "Organization",
      "name": "MATH ITSELF",
      "logo": {
        "@type": "ImageObject",
        "url": "https://xn--bh3b89qjsa.xn--oi2b61z32a.xn--3e0b707e/assets/img/MATH_ITSELF.jpeg"
      }
    }
  }
</script>

</html>