<th:block th:fragment="css(link)">
    <link th:href="@{/assets/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">

    <!--    <link rel="stylesheet" th:href="@{/assets/css/user/style.css}">-->
    <link rel="stylesheet" th:href="@{/assets/css/user/footer.css}">
    <th:block th:if="${link != null}">
        <th:block th:replace="${link}" />
    </th:block>
</th:block>
