<th:block th:fragment= "footer()">
  <footer>
    <div class="footer-container">
      <!-- Left Section -->
      <div class="left-section">
        <ul class="menu">
          <li><a th:href="@{/sevice/terms/private}">개인정보처리방침</a></li>
          <li><a th:href="@{/academy/teachers}">원장 소개</a></li>
          <li><a th:href="@{/service/use}">사이트이용안내</a></li>
          <li><a th:href="@{/service/terms}">이용약관</a></li>
          <li><a th:href="@{/service/inquiry}">이용문의</a></li>
          <li><a th:href="@{/service/faq}">FAQ</a></li>
          <li><a th:href="@{/service/crew}" >크루 모집</a></li>
        </ul>
        <div class="address">
          <p>06207 서울특별시 강남구 도곡로63길 16</p>
          <p>사업자등록번호 있는지 모름 (항문외과전문의 박원장)</p>

          <div class="copy">
            항문외과 교육격차 해소 및 사교육비 경감을 위해 항문인들과 원장이 함께 만들어 갑니다.
            <p>Copyright ©WONJANG. All rights reserved.</p>
          </div>
        </div>
      </div>

      <!-- Right Section -->
      <div class="helpdesk">
        <strong onclick="frontCheckGo()">고객센터</strong>
        <div class="time" onclick="frontHtmlGo()">
          <p>평일 08시 ~ 18시</p>
          <p>(점심시간 12시 ~ 13시, 주말 및 공휴일 휴무)</p>
        </div>

        <a href="mailto:helpwonjang@gmail.com" title="메일쓰기로 이동">helpdesk@원장.닷컴</a>
        <p class="ismsp">
          <span class="blind">ISMSP</span>
          <em>[인증범위] 항문 교육포털 웹서비스<br>[유효기간] 2022.05.04~2025.05.03</em>
        </p>
      </div>
    </div>
  </footer>


</th:block>
