<th:block th:fragment= "footer()">
  <footer>
    <div class="footer-container">
      <!-- Left Section -->
      <div class="left-section">
        <ul class="menu">
          <li><a th:href="@{/sevice/terms/private}">개인정보처리방침</a></li>
          <li><a th:href="@{/templates/user/academy/teachers}">원장 소개</a></li>
          <li><a th:href="@{/templates/user/service/use}">사이트이용안내</a></li>
          <li><a th:href="@{/templates/user/service/terms}">이용약관</a></li>
          <li><a th:href="@{/templates/user/service/inquiry}">이용문의</a></li>
          <li><a th:href="@{/templates/user/service/faq}">FAQ</a></li>
          <li><a th:href="@{/templates/user/service/crew}" >크루 모집</a></li>
        </ul>
        <div class="address">
          <p>06207 서울 강남구 도곡로63길 16 2층 201호</p>
          <p>사업자등록번호 867-94-01769 (MATH ITSELF)</p>

          <div class="copy">
            교육격차 해소 및 사교육비 경감을 위해 학생들과 박원장이 함께 만들어 갑니다.
            <p>Copyright ©WONJANG. All rights reserved.</p>
          </div>
        </div>
      </div>

      <!-- Right Section -->
      <div class="helpdesk">
        <strong>고객센터</strong>
        <div class="time">
          <p>평일 08시 ~ 18시</p>
          <p><a href="tel:+82050714379679">0507-1437-9679</a></p>
          <p>(점심시간 12시 ~ 13시, 주말 및 공휴일 휴무)</p>
        </div>

        <a href="mailto:mathitself@naver.com" title="메일쓰기로 이동">mathitself@naver.com</a>
        <p class="ismsp">
          <span class="blind">ISMSP</span>
          <em>[인증범위] MATH ITSELF 교육포털 웹서비스<br>[유효기간] 2022.05.04~2025.05.03</em>
        </p>
      </div>
    </div>
  </footer>


</th:block>
