<th:block th:fragment= "header(title)">
  <header>
    <div class="header-title" th:text="${title}"></div>
    <button class="hamburger" id="hamburgerButton">&#9776;</button>
    <div class="header-buttons">
      <th:block th:if="${session.user == null}">
        <a href="/login" id="loginButtonDesktop">로그인</a>
      </th:block>
      <th:block th:unless="${session.user == null}">
        <a href="/mypage" id="myPageButtonDesktop">마이페이지</a>
        <a href="/logout" id="logoutButtonDesktop">로그아웃</a>
      </th:block>
    </div>
  </header>
  <nav  id="navMenu">
    <button id="closeMenuButton" class="close-button">X</button> <!-- 닫기 버튼 -->
    <a href="/">홈</a>
    <a href="/lecture">강의</a>
    <a href="/data">자료실</a>
    <a href="/announce">공지사항</a>
    <a href="/inquiry">문의하기</a>
    <!-- 로그인/마이페이지 버튼을 네비게이션 안으로 넣음 (작은 화면에서만 보이게) -->
    <th:block th:if="${session.user == null}">
      <a href="/login" id="loginButton">로그인</a>
    </th:block>
    <th:block th:unless="${session.user == null}">
      <a href="/mypage" id="myPageButton">마이페이지</a>
      <a href="/logout" id="logoutButton">로그아웃</a>
    </th:block>
  </nav>

</th:block>
