<th:block th:fragment= "header(title)">
  <header>
    <div class="header-title" th:text="${title}"></div>
    <div class="header-buttons">
      <button th:if="${session.user == null}" id="loginButton" th:onclick="|window.location.href='/login'|">로그인</button>
      <th:block  th:unless="${session.user == null}">
        <button id="myPageButton">마이페이지</button>
        <button id="logoutButton" th:onclick="|window.location.href='/logout'|">로그아웃</button>
      </th:block>
    </div>
  </header>
  <nav>
    <a href="/">홈</a>
    <a href="/lecture">강의</a>
    <a href="/data">자료실</a>
    <a href="/announce">공지사항</a>
    <a href="/inquiry">문의하기</a>
  </nav>
</th:block>
