<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, link, content, script, meta)"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="jsrasZpsekJxOXJz5ZgIN6JmE64FuzyCKtuwoBLae6o" />
    <meta name="naver-site-verification" content="fec5075b2ce4110d1e983ed1d92c46e819a98d7d" />
    <meta property="og:title" content="MATH ITSELF" />
    <meta property="og:description" content="MATH ITSELF 수학자들의 사고체계를 교육하는 학원" />
    <meta property="og:image" content="https://xn--bh3b89qjsa.xn--oi2b61z32a.xn--3e0b707e/assets/img/main1.png" />
    <meta property="og:url" content="https://xn--bh3b89qjsa.xn--oi2b61z32a.xn--3e0b707e" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="MATH ITSELF" />
    <meta name="twitter:description"  content="MATH ITSELF 예약 및 문의를 홈페이지에서 받고 있습니다." />
    <meta name="twitter:image" content="https://xn--bh3b89qjsa.xn--oi2b61z32a.xn--3e0b707e/assets/img/main1.png" />
    <meta name="description" content="MATH ITSELF 수학자들의 사고체계를 교육하는 학원" />
    <meta name="keywords" content="MATH ITSELF, 대치동 수학학원, 수학자들의 생각법, 수학자들의 체계, 수학의 본질, 창의적 문제 해결 능력, 본질에 입각한 개념" />
    <th:block th:if="${meta != null}">
        <th:block th:replace="${meta}" />
    </th:block>
    <meta name="robots" content="index, follow">
    <th:block th:replace="${title}"> </th:block>
    <!-- google -> 자바스크립트 yml 변수 -> Thymeleaf 에서 스프링 환경변수 사용하기 -> java.ihoney.pe.kr/472 -->
    <th:block th:replace="~{user/layout/css :: css(~{::link})}"></th:block>
</head>
<body style="overflow-y: visible;">
<th:block th:replace="~{user/layout/nav :: nav}"></th:block>
<th:block th:replace="${content}"></th:block>
<th:block th:replace="~{user/layout/scripts :: scripts(~{::script})}"></th:block>
<th:block th:replace="~{user/layout/footer :: footer}"></th:block>
</body>
</html>