<th:block th:fragment= "nav">
  <header>
    <div class="header-title" th:onclick="|window.location.href='/'|" style="cursor:pointer;">박원장의 MATH ITSELF</div>
    <button class="hamburger" id="hamburgerButton">&#9776;</button>
    <div class="header-buttons">
      <th:block sec:authorize="isAnonymous()">
        <a th:href="@{/login}" id="loginButtonDesktop">로그인</a>
      </th:block>
      <th:block sec:authorize="isAuthenticated()">
        <a th:href="@{/mypage}" id="myPageButtonDesktop">마이페이지</a>
        <a th:href="@{/logout}" id="logoutButtonDesktop">로그아웃</a>
      </th:block>
    </div>
  </header>
  <nav  id="navMenu">
    <button id="closeMenuButton" class="close-button">X</button> <!-- 닫기 버튼 -->
    <a th:href="@{/academy/introduction}">소개</a>
    <a th:href="@{/lecture/list}">강의</a>
    <a th:href="@{/data}">자료실</a>
    <a th:href="@{/service/announce}">공지사항</a>
    <a th:href="@{/service/inquiry}">문의하기</a>
    <!-- 로그인/마이페이지 버튼을 네비게이션 안으로 넣음 (작은 화면에서만 보이게) -->
    <th:block sec:authorize="isAnonymous()">
      <a th:href="@{/login}" id="loginButton">로그인</a>
    </th:block>
    <th:block sec:authorize="isAuthenticated()">
      <a th:href="@{/mypage}" id="myPageButton">마이페이지</a>
      <a th:href="@{/logout}" id="logoutButton">로그아웃</a>
    </th:block>
  </nav>

</th:block>
