<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <section id="inSectionMain">
    <div class="innerBx innerWrap " style="padding:62px;">
      <div class="container">
        <div class="page-container page-container-responsive">
          <div class="row space-top-8 space-8">
            <div class="col-5 col-middle">
              <h1 class="text-jumbo text-ginormous">Oops!</h1>
              <h2>We can't seem to find the page you're looking for.</h2>
              <h6>Error code: 405</h6>
              <ul class="list-unstyled">
                <li>Here are some helpful links instead:</li>
                <li><a style="color: #008489;" href="/static">Home</a></li>
                <li><a style="color: #008489;" href="/textbook/index/all">textbook</a></li>
                <li><a style="color: #008489;" href="/archive/index/all">resources</a></li>
                <li><a style="color: #008489;" href="/ebook/ebookAll">ebook</a></li>
                <li><a style="color: #008489;" href="/aboutUs/info">about Bricks</a></li>
              </ul>
            </div>
            <div class="col-5 col-middle text-center">
              <img src="/images/common/tenor_1.gif" width="313" height="428" alt="Girl has dropped her ice cream.">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</html>

